.headText{
    color: rgb(26, 216, 241);
    font-size: 50px;
}
.rightsidebg{
    background-color: rgba(209, 206, 206, 0.295);
}
.firstModal{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(231, 142, 142, 0.247);
    text-transform: capitalize;
}
.firstModal .secondModal{
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width:500px) {
    .headText{
       font-size: 25px; 
    }
}